.expenses-table-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 200px; /* fill the viewport height */
  width: 100vw;      /* fill the viewport width */
}

.ag-theme-alpine.custom-ag-grid {
  width: 800px;
  text-align: center;
  height: 100%;
}

.ag-header-cell-label {
  justify-content: center !important;
  text-align: center !important;
}

.ag-viewport.ag-center-cols-viewport{
    height: 100vh;
}